astroid==2.3.0
autopep8==1.4.4
coverage==4.5.4
Django==1.9.9
django-autoslug-iplweb==1.9.4.dev0
django-cities-light==3.5.0
django-ckeditor==5.7.1
django-js-asset==1.2.2
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
Pillow==8.2.0
progressbar2==3.47.0
pycodestyle==2.5.0
pylint==2.4.1
python-utils==2.3.0
pytz==2019.3
six==1.12.0
typed-ast==1.4.0
Unidecode==1.1.1
wrapt==1.11.2
