{% extends "layout.html" %} {% load static %} {% block title %}Edit Profile |
{{ super }}{% endblock %} {% block body %}

<br>
<br>
<div class="grid-30">
  <div class="avatar_wrapper">
    <span class="avatar_base_relative avatar_update">
      <img name="id_avatar" id="id_avatar" class="slider_avatar_circle" src="{{ user.profile.avatar.url }}"
        alt="avatar" />
      <h1>{{ user.username }}</h1>

    </span>
  </div>
</div>
<div class="grid-70">
  <form method="POST" action="#">
    {% csrf_token %}
    <p>
      {{ password_form.old_password.errors }}
      {{ password_form.old_password.label }}
      {{ password_form.old_password }}
    </p>
    <p>
      {{ password_form.new_password.errors }}
      {{ password_form.new_password.label }}
      {{ password_form.new_password }}
    </p>
    <p>
      {{ password_form.new_password2.errors }}
      {{ password_form.new_password2.label }}
      {{ password_form.new_password2 }}
    </p>
    <div class="grid-50">
      <ul class="help_text">
        {% for line in password_form.new_password.help_text %}
        <li>
          {{ line }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid-50">
      <input type="submit" class="button-primary" value="Change Password" />
    </div>
  </form>
</div>

{% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'js/zxcvbn.js' %}"></script>

<script>
    var strength = {
      0: "#ef9a9a",
      1: "#ffab91",
      2: "#ffcc80",
      3: "#fff59d",
      4: "#14cba8"
    };
    
    var password = document.getElementById("id_new_password");

    var username = "{{ user.username }}";
    var first = "{{ user.first_name }}";
    var last = "{{ user.last_name }}";
    var user_dict = [username, first, last];
    
    password.addEventListener("input", function() {
      var val = password.value;
      var result = zxcvbn(val, user_dict);
  
      // Update the password strength meter
      password.style.backgroundColor = "#f5f5f6";
      password.style.backgroundColor = strength[result.score];
    });
  </script>
{% endblock %}
