{% extends "layout.html" %} 
{% load static %} 
{% block title %}Profile |{{ super }}{% endblock %} 

{% block body %}
<div class="bounds circle--page profile_page">
    <div class="avatar_wrapper">
        <span class="avatar_base">
            <img class="avatar_circle" src="{{ profile_user.profile.avatar.url }}" />
        </span>
    </div>
    <div class="grid-100 under_banner">
        {{ profile_user.first_name.label }}
        <h1 class="headline">{{ profile_user.username|capfirst }}</h1>
    </div>

    <div class="grid-30">
        <h1 class="custom_label">Details</h1>
        <br>
        <p>
            Name:
            {{ profile_user.first_name }}
            {{ profile_user.last_name }}
            <br>
            Date of Birth:
            {{ profile_user.profile.date_of_birth }}
            <br>
            Location:
            {% firstof profile_user.profile.city profile_user.profile.country "Unknown" %}
        </p>
        <hr>

        <h1 class="custom_label">Contact</h1>
        <br>
        <p>
            Email: {{ profile_user.email }}
        </p>
        <hr>
        <h1 class="custom_label">Misc</h1>
        <br>
        <p>
            Cats or Dogs: {{ profile_user.profile.cats_or_dogs }}
            <br>
            Hobby: {{ profile_user.profile.hobby }}
            <br>
            Favourite Colour: {{ profile_user.profile.favourite_colour }}
        </p>
        <hr>
    </div>
    <div class="grid-70">
        <h1 class="custom_label">Bio</h1>
        <p></p>
            {{ profile_user.profile.bio|safe }}
    </div>
    <div class="footer_space">  

    </div>
</div>

{% if user.id == profile_user.id %}
<div class="button_track">
    <div class="btn_wrapper" id="btn_wrapper">
        <span class="circle_btn" id="circle_button">
            <a class="btn" href="{% url 'accounts:edit_profile' %}"><i class="material-icons md-48 md-light"
                    style="color:black;font-size:32px;margin-top:13px;">edit</i>
        </span>
    </div>      
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#info_message').on('click', function () {
            $('#info_message').hide();
        });
    });
</script>

<script type="text/javascript">
    $(document).scroll(function () {
        checkOffset();
    });

    function checkOffset() {
        if ($('#circle_button').offset().top + $('#circle_button').height()
            >= $('#custom_footer').offset().top - 50)
            $('#circle_button').css('position', 'absolute');
        if ($(document).scrollTop() + window.innerHeight < $('#custom_footer').offset().top)
            $('#circle_button').css('position', 'fixed'); // restore when you scroll up
    }
</script>
{% endblock %}
