{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div class="bounds circle--page">
  <div class="home-container">
    <div class="grid-100 centered">
      <h1>All About You</h1>
      <p>
        Show the world who you are. Easily display your name, show them your
        face, tell them a little about yourself - even your favourite colour.
      </p>
    </div>
  </div>

  <!-- CAROUSEL -->
  <div class="grid-100 centered">
    <div class="slider-container">
      <div class="slider">
        {% for user in users %}
        <div class="slider_avatar_wrapper">
          <a href="{% url 'accounts:profile' user.pk %}">
            <img class="slider_avatar_circle" src="{{ user.profile.avatar.url }}" />
            <h3>{{ user.username }}</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="home-container">
      <div class="grid-100 centered">
        <h1>It's Easy to Sign Up!</h1>
        <p>
          Create your profile now.
        </p>
        <a href="{% url 'accounts:sign_up' %}" class="button button-primary centered">Sign Up</a>
      </div>
    </div>
  
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.slider').slick({
      arrows: false,
      autoplay: true,
      autoplaySpeed: 2000,
      adaptiveHeight: false,
      centerMode: true,
      centerPadding: '15px',

      dots: true,
      infinite: true,
      speed: 900,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  });

</script>
{% endblock %}